<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdtech.here">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--android:value="nYrkcvvOhDhGH1fVlz4zEdDi"-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="n9tQvUFKOfi9N5pvhpwt8PM8"
            />

        <activity
            android:name=".explore.ExploreActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".album.AlbumBaiduActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".account.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".explore.ExploreActivity"
            android:theme="@style/Theme.Here.Account" />
        <activity
            android:name=".account.SignupActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".account.LoginActivity"
            android:theme="@style/Theme.Here.Account" />
        <activity
            android:name=".user.UserActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".explore.AlbumSearchActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:exported="false"
            android:theme="@style/Theme.Here.Search" />

        <activity
            android:name=".explore.CameraActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".album.PhotoViewActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".album.TrackActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.CommentsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:launchMode="singleTop"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
            Because android:exported is set to "false",
            the service is only available to this app.
        -->
        <service
            android:name=".service.PhotoPublishService"
            android:exported="false"/>
        <service
            android:name=".service.Recorder"
            android:exported="false"/>
    </application>

</manifest>
